<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Consulta {% endblock %} </title>
        {% block stylesheets %} {% endblock %}
    </head>
    <body>
        {% block body %} {% endblock %}
        {% block script %}        
            <script src="js/script.js"></script>
        {% endblock %}
    </body>